body {
    font-family: Roboto, sans-serif;

    /* display: flex;
    flex-direction: column; */
    /* padding: 20px; */
}

.side-bar {
    flex: 1 0 0%;
    min-width: 0px;
}

.header {
    /* padding: 20px; */
    height: 72px;
    background: #1F2937;
    /* flex: auto; */

    display: flex;
}

.content {
    width: 1000px;

    flex: 0 1 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content div {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.content  ul {
    display: flex;
    column-gap: 15px;
    list-style: none;
}

.content ul a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.caption-figure {
    width: 1000px;

    /* flex: 0 1 auto; */

    display: flex;
 
    align-items: center;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.topbutton {
    background-color: #3882F6;
}

.figure {
    background-color: slategray;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}

.bar2 {
    /* padding: 20px; */
    height: 200px;
    background: #1F2937;
    flex: auto;

    display: flex;
}

.bar3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar4 {
    height: 300px;
    display: flex;
}

.boxes {
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6;

    display: flex;
    justify-content: center;
    align-items: center;
}

.caption {
    flex-direction: column;
    flex: 1 0 0;
}
