body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.side-bar {
    flex: 1 0 0%;
    min-width: 75px;
}

.header {
    display: flex;
    height: 72px;
    background: #1F2937;
}

.content {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
}

.content div {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.content  ul {
    display: flex;
    column-gap: 15px;
    list-style: none;
}

.content ul a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.bar2 {
    display: flex;
    background: #1F2937;
    padding: 50px 0;

}

.caption-figure {
    display: flex;
    width: 1000px;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.caption {
    display: flex;
    height: 225px;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 0;
    min-width: 350px;
    margin-bottom: 10px;
}

.figure {
    background-color: slategray;
    color: #e5e7eb;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    min-width: 350px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    font-weight: bold;
}

.topbutton {
    background: #3882F6;
    padding: 5px 20px;
    color: #e5e7eb;
    border-radius: 4px;
    border: none;
    outline: none;
}

.topbutton:hover {
    color: #3882F6;
    background-color: #e5e7eb;
}

.bar3 {
    margin: 30px 0;

    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar4 {
    margin: 30px 0;
    display: flex;
}

.boxes {
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    flex-wrap: wrap;
}

.box-text {
    flex-direction: column;
}

.box {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 10px;
}

.text {
    color: #4B5563;
    width: 150px;
    height: 50px;
    margin: 10px 10px;
    align-content: center;
    text-align: center;
}

.bar5 {
    display: flex;
    background-color: #E5E7EB;
}

.quote-author {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    padding: 100px 0;
    gap: 10px 0;
}

.quote-author > * {
    padding: 0 100px 0 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.author {
    align-self: flex-end;
    font-weight: bolder;
    font-size: 24px;
}

.box-bar {
    display: flex;
}

.large-box {
    border-radius: 10px;
    width: 1000px;
    margin: 50px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    color: #e5e7eb;  
    flex-wrap: wrap;
    padding: 15px 0px;
}

.large-box > * {
    padding: 10px 25px;
}

.stack {
    display: flex;
    flex-direction: column;
}

.top {
    font-weight: bold;
}

.box-button {
    color: #e5e7eb;
    background-color: #3882F6;
    border: 2px solid #e5e7eb;
    border-radius: 5px;
    padding: 5px 20px;
    flex: 1 0 0;
}

.box-button:hover {
    color: #3882F6;
    background-color: #e5e7eb;
}

.footer {
    height: 72px;
    background-color: #1F2937;
    font-size: 18px;
    color: #e5e7eb;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
