html {
    font-size: 10px;
    background-color: #1F2937;
    background-size: cover;
}
  
body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.resetHolder {
    flex-basis: 100%;
    display: flex;
    width: 500px;

    justify-content: center;
    align-items: center;
    margin: 50px 50px;
}

.resetButton {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    width: 100px;
    height: 25px;
    color: #e5e7eb;
    background-color: #3882F6;
    border: 2px solid #e5e7eb;
    border-radius: 5px;
    padding: 5px 20px;
}

.resetButton:hover {
    border: 2px solid #3882F6;
    background-color: #e5e7eb;
    color: #3882F6;

}

.container {
    display: flex;
    /* flex: auto; */
    height: 500px;
    width: 500px;
    border: 2px solid black;
}

.row {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.box {
    flex: auto;
    /* outline: 1px solid black; */
    /* outline-offset: -1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.enabled {
    color: black;
}

.box:hover {
    outline: 1px solid white;
    background-color: #3882F6;
}